<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fenglai.admin.mapper.SysDictItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fenglai.admin.pojo.dos.SysDictItemDO">
        <result column="item_code" property="itemCode" />
        <result column="item_name" property="itemName" />
        <result column="dict_code" property="dictCode" />
        <result column="remark" property="remark" />
        <result column="item_status" property="itemStatus" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        item_code, item_name, dict_code, remark, item_status, sort
    </sql>

</mapper>
