<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fenglai.admin.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fenglai.admin.pojo.dos.SysRoleDO">
        <result column="role_code" property="roleCode" />
        <result column="role_name" property="roleName" />
        <result column="sort" property="sort" />
        <result column="role_status" property="roleStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_code, role_name, sort, role_status
    </sql>

</mapper>
